<div class="container">
    <div>
        <h2 style="margin-left: 5px">WABCO</h2>
    </div>
    <p-confirmDialog></p-confirmDialog>
    <div style='margin-top: 10px' class="row">
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Pallet sheet tracking</div>
                <div class=" panel-body">
                    <div>
                        <button  type="button" class="homeButton btn btn-primary" (click)="addPalletSheet()">Add Pallet Sheet</button>
                    </div>
                    <div>
                        <button type="button" class="homeButton btn btn-primary" (click)="getPalletSheet()">Get pallet Sheet</button>
                    </div>
                    <div>
                        <button type="button" class="homeButton btn btn-primary" (click)="committedTransaction()">Committed Transactions</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>